<div class="row mbottom30">
	<h4>Process Month End Jobs</h4>

	<p>This will check all subscriptions to see if they are still active. It will then create a sale record for each active subscription.</p>

	<%= button_to "Process Monthly Jobs", manager_process_month_end_path %>

</div>