
<div class="row mbottom30">
	<div class="three columns">
		<%= render "menu" %>
	</div>
	
	<div class="nine columns">
		<h3>About Little Busy Bees</h3>
		<h5>The Story So Far</h5>
		<p>Having two children, with a few years gap in between, it became a struggle finding activities for them to do, that they would both enjoy. What I did find, no matter the age of the child, was that painting, sticking and building things was always an activity enjoyed by them both (and the adults too!)</p>
		<p>Given a project and the materials, kept them busy for hours, allowing the 'parents' to get on with jobs around the house or have a well earned cuppa and a few minutes quiet time.</p>
		<p>After looking around the craft shops, for kits and craft projects, I realised that it costs from &pound;9.99 upwards for a single kit; usually with only enough craft supplies to create one item. However, to buy the items separately, usually means buying a bulk load of paper, foam shapes, pipe cleaners etc.</p>
		<p class="left"><%= image_tag "single-box.png", width: "250" %></p>
		<p>So, I decided to bulk buy these items, package them up and give them to the children of family and friends, usually as presents. After a great response from the parents, I decided to make this into a business.</p>



		<p>I hope you and your children enjoy these craft projects as much as I do with my children.</p>
		
		<p>Best Wishes,<br />Neal</p>
		<p>Founder, Little Busy Bees</p>
	</div>
	
</div>