<div class="row mbottom30">

	<h2>Sign Up to Our Newsletter</h2>
	
	<p>If you would like to receive updates containing information about Little Busy Bees, our competitions, new craft ideas and special offers, please enter your email address below.</p>

	<%= form_tag newsletter_signup_path, class: "nice" do %>
		<p><%= text_field_tag 'email', nil, class: "input-text", :placeholder => 'Your email address' %></p>
		<p><%= submit_tag "Subscribe", class: "nice button radius small red" %></p>
	<% end %>

	<p>We will not send you any spam mail, nor sell or give your details away to any other third parties. It's just us and you baby! And if you do get fed up of us rambling on, you can easily un-subscribe by clicking on the un-subscribe links in any of the emails we send you.</p>

</div>