<h2>Your Password has been changed</h2>

<p>Hi</p>
<p>Your password has successfully been changed to <%= @pass %>. Please keep this email safe.</p>
<p>If you have not requested that your password is to be changed, please contact us straight away at contact@littlebusybees.co.uk</p>

<p>Many Thanks<br />
The Little Busy Bees</p>